@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
@import 'layout/variables',
'layout/button-social',
'layout/navigation',
'layout/sticky-footer',
'layout/panel',
'layout/task-grid';
body {
  font-family: $site-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}

div {
  &#hero-header {
    .jumbotron {
      text-align: center;
      background: $secondary-bg-color;
      color: $contrast-font-color;
    }
  }
}

.push-bottom{
  padding-top: 20px;
}

.spacer{
  padding-left: 10px;
  padding-right: 10px;
}

.no-padding{
  padding: none;
}

.timer{
  color: black;
  .panel-body{
    h1{
      font-size: 96px;
      padding-bottom: 20px;
      color: green;
    }
  }
}

.selected-task{
  p{
    font-size: 16px;
  }
}