/// <reference path="variables.scss" />
@import 'variables';

.navbar-custom {
  background: $primary-bg-color;
  border: none;
}

.navbar-custom a:focus {
  outline: none;
}

.navbar-custom .navbar-brand {
  color: $contrast-font-color;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: $contrast-font-color;
}

.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}

.navbar-custom .navbar-nav li a {
  color: $contrast-font-color;
}

.navbar-custom .navbar-nav li a:hover {
  color: $visited-link-font-color;
  outline: none;
}

.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: $contrast-font-color;
}

.navbar-custom .navbar-nav li.active a {
  color: $contrast-font-color;
  background: $visited-link-bg-color;
}

.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: $contrast-font-color;
  background: $visited-link-bg-color;
}

.navbar-custom .navbar-toggle {
  color: $contrast-font-color;
  font-size: 10px;
  border-color: $contrast-font-color;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: $visited-link-font-color;
  color: $contrast-font-color;
  border-color: $visited-link-font-color;
}

.navbar-custom .navbar-nav ul.dropdown-menu {
  background-color: $secondary-bg-color;
}