/// <reference path="_variables.scss" />
@import 'variables';
.panel-default>.panel-heading {
    background-color: $primary-bg-color;
    color: $contrast-font-color;
    background-image: none;
}
.panel-default{
    border-color: $secondary-bg-color;
    border-width: 1px;
}
.modal-header{
    background-color: $primary-bg-color;
    color: $contrast-font-color;
    background-image: none;
}
.modal-footer{
    background-color: $secondary-bg-color;
    color: $contrast-font-color;
    background-image: '';
}
.container-small{
    max-width: 500px;
    margin: auto;
}