/// <reference path="_variables.scss" />

.action-column{
  width: 130px;
}

.tasks-hp-container{
  background-color: $plain-bg-color;
  font: $site-font;
  max-width: 400px;
  min-width: 300px;
}

.table-custom>thead{
    background-color: $secondary-bg-color;
    color: $contrast-font-color;
    font-weight: '';
}