$primary-bg-color: #233140;
$secondary-bg-color: #2C3E50;
$contrast-font-color: white;
$contrast-bg-color: white;
$visited-link-font-color: #18BC9C;
$visited-link-bg-color: #18BC9C;
$site-font: 'Lato', sans-serif;
$header-font: 'Raleway', sans-serif;